Dqe.Infrastructure/Service References/DocumentConverterService/14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types.muhimbi.com/2013/01/14" elementFormDefault="qualified" targetNamespace="http://types.muhimbi.com/2013/01/14" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" />
  <xs:complexType name="OutputFormatSpecificSettings">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="OutputFormatSpecificSettings" nillable="true" type="tns:OutputFormatSpecificSettings" />
  <xs:complexType name="OutputFormatSpecificSettings_PDF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OutputFormatSpecificSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="FastWebView" type="xs:boolean" />
          <xs:element minOccurs="0" name="EmbedAllFonts" type="xs:boolean" />
          <xs:element minOccurs="0" name="SubsetFonts" type="xs:boolean" />
          <xs:element minOccurs="0" name="ViewerPreferences" nillable="true" type="tns:PDFViewerPreferences" />
          <xs:element minOccurs="0" name="PostProcessFile" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OutputFormatSpecificSettings_PDF" nillable="true" type="tns:OutputFormatSpecificSettings_PDF" />
  <xs:complexType name="PDFViewerPreferences">
    <xs:sequence>
      <xs:element minOccurs="0" name="CenterWindow" type="xs:boolean" />
      <xs:element minOccurs="0" name="DisplayTitle" type="xs:boolean" />
      <xs:element minOccurs="0" name="FitWindow" type="xs:boolean" />
      <xs:element minOccurs="0" name="HideMenubar" type="xs:boolean" />
      <xs:element minOccurs="0" name="HideToolbar" type="xs:boolean" />
      <xs:element minOccurs="0" name="HideWindowUI" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="PageLayout" type="q1:PDFPageLayout" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="NavigationPane" type="q2:PDFNavigationPane" />
      <xs:element minOccurs="0" name="HideEmptyNavigationPane" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="PageScalingMode" type="q3:PDFPageScalingMode" />
      <xs:element minOccurs="0" name="FullScreen" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PDFViewerPreferences" nillable="true" type="tns:PDFViewerPreferences" />
</xs:schema>