Dqe.Infrastructure/Service References/DocumentConverterService/16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://types.muhimbi.com/2014/04/16" elementFormDefault="qualified" targetNamespace="http://types.muhimbi.com/2014/04/16" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" />
  <xs:import namespace="http://types.muhimbi.com/2010/11/22" />
  <xs:complexType name="ConverterSpecificSettings_PDF">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://types.muhimbi.com/2010/11/22" base="q1:ConverterSpecificSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="ConvertAttachments" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Muhimbi.DocumentConverter.WebService.Data" minOccurs="0" name="ConvertAttachmentMode" type="q2:PDFConvertAttachmentMode" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConverterSpecificSettings_PDF" nillable="true" type="tns:ConverterSpecificSettings_PDF" />
</xs:schema>